 body{
     background-color: white;
 }



.jumbotron{
    border-bottom: 5px solid antiquewhite;
    align-content: center;
    font-size: 45px;
    color: #71797E;
    font-family: 'Mukta', sans-serif;
    background-image: linear-gradient(to right, #f4fbfb, #effaf7, #ecf8f0, #edf5e7, #f1f1df, #f3eeda, #f6ead6, #f9e6d3, #f8e2d1, #f7decf, #f6dacd, #f4d6cc);
    padding: 10px;
}


#skills{
    border-bottom: 2px solid antiquewhite;
    color: #848884;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
}

#projects{
  border-bottom: 2px solid antiquewhite;
    color: #848884;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
}



h3{
    border-bottom: 2px solid antiquewhite;
    font-size: 40px;
    color: #848884;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
}

#git{
    font-size: 20px;
}

a:link, a:visited {
    color: black;
    text-align: center;
    border-bottom: 1px antiquewhite;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: gray;
  }

  #contactbutton{
      font-size: 40px;
  }
 
  #contactmodal{
    background-color: transparent;
  }

  #modalM{
    width: auto;
    margin-right: -10px;
  }

  #modalheader, #modalfooter {
    border: 1px solid gray;
  }

  #modalbody, #modalheader, #modalfooter{
    background-color: #e3d8d8;
    font-family: 'Mukta', sans-serif;
  }

  #phonemail{
    font-size: 25px;
    font-family: 'Mukta', sans-serif;
    margin-left: 15px;
  }

  #education {
    padding: 5px
  }

#cbtn {
  border: 1px solid gray;
}

#experience {
  margin-bottom: 30px;
}

.card-body{
  background-color: ghostwhite;
  border:  0.5px solid #b8a29a;
}

.card-header{
  background-color: gainsboro;
  color: black;
}


.btn-link{
  color: #71797E;
}

